.tw-followCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 316px;
}

.tw-followCard-header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.tw-followCard-info {
  display: flex;
  flex-direction: column;
}

.tw-followCard-infoUserName {
  opacity: 0.6;
}

.tw-followCard-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.tw-followCard-button {
  cursor: pointer;
  margin-left: 16px;
  border: 0.5px solid #000;
  border-radius: 100px;
  padding: 6px 16px;
  font-weight: bold;
  transition: 0.3s ease background-color;
}

.tw-followCard-text {
  display: block;
}

.tw-followCard-unFollow {
  display: none;
}

.tw-followCard-button.is-following {
  background: none;
  border-color: #44525c;
  color: #fff;
}

.tw-followCard-button.is-following:hover {
  border-color: #67070f;
  background-color: #f4212e1a;
  color: #f4212e;
}

.tw-followCard-button.is-following:hover .tw-followCard-text {
  display: none;
}

.tw-followCard-button.is-following:hover .tw-followCard-unFollow {
  display: block;
}

.tw-followCard-button:hover {
  background-color: #eff3f4;
}
